<% provide(:title, @taxon.name) %>
<%= render partial: 'layouts/top_section', locals: {title: @taxon.name} %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'left_bar', locals: {taxonomies: @taxonomies} %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'filter_area'%>
        <div class="row">
          <%= render partial: 'product_list', collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'brand_bar' %>
